<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.task.mapper.task.UpdateMapper" >

  <update id="updateState" parameterType="java.util.Map" >
    update task
    set  task_state = #{task_state},
      	 update_date_time = #{update_date_time}
    where parent_task_id = #{task_id}
  </update>
  
  <update id="updateExecutorState" parameterType="java.util.Map" >
    update task_executor
    set  task_executor_state = #{task_state},
      	 update_date_time = #{update_date_time}
    where task_id = #{task_id}
  </update>
  
  
  <update id="updateIsRead" parameterType="java.util.Map" >
    update task_executor
    set  is_read = '1'
    where task_id = #{task_id} and emp_id = #{emp_id}
  </update>
  
  
   <delete id="deleteAttach" parameterType="java.util.Map" >
    delete from task_attach
    where task_id = #{task_id}
  </delete>
  
  
   <delete id="deleteExecutor" parameterType="java.util.Map" >
    delete from task_executor
    where task_id = #{task_id}
  </delete>
  
  
   <delete id="deleteExecutorById" parameterType="java.util.Map" >
    delete from task_executor
    where task_id = #{task_id} and emp_id = #{executorId}
  </delete>
  
   <delete id="deleteTask" parameterType="java.util.Map" >
    delete from task
    where parent_task_id = #{task_id}
  </delete>
  
  <delete id="deleteRelevance" parameterType="java.util.Map" >
    delete from task_relevance
    where task_id = #{task_id}
  </delete>
  
  <update id="updateRelevance" parameterType="java.util.Map" >
    update task_relevance
    set  rel_status = 1
    where task_id = #{task_id}
  </update>
  
</mapper>