<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.mybatis.mapper.PlatInforAccessoryMapper" >
  <resultMap id="BaseResultMap" type="com.zrt.mybatis.domain.PlatInforAccessory" >
    <id column="acc_id" property="accId" jdbcType="VARCHAR" />
    <result column="infor_no" property="inforNo" jdbcType="VARCHAR" />
    <result column="acc_address" property="accAddress" jdbcType="VARCHAR" />
    <result column="acc_name" property="accName" jdbcType="VARCHAR" />
    <result column="acc_type" property="accType" jdbcType="CHAR" />
    <result column="node_id" property="nodeId" jdbcType="VARCHAR" />
    <result column="file_order" property="fileOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    acc_id, infor_no, acc_address, acc_name, acc_type, node_id, file_order
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zrt.mybatis.domain.PlatInforAccessoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from plat_infor_accessory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from plat_infor_accessory
    where acc_id = #{accId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from plat_infor_accessory
    where acc_id = #{accId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrt.mybatis.domain.PlatInforAccessoryExample" >
    delete from plat_infor_accessory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrt.mybatis.domain.PlatInforAccessory" >
    insert into plat_infor_accessory (acc_id, infor_no, acc_address, 
      acc_name, acc_type, node_id, 
      file_order)
    values (#{accId,jdbcType=VARCHAR}, #{inforNo,jdbcType=VARCHAR}, #{accAddress,jdbcType=VARCHAR}, 
      #{accName,jdbcType=VARCHAR}, #{accType,jdbcType=CHAR}, #{nodeId,jdbcType=VARCHAR}, 
      #{fileOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zrt.mybatis.domain.PlatInforAccessory" >
    insert into plat_infor_accessory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accId != null" >
        acc_id,
      </if>
      <if test="inforNo != null" >
        infor_no,
      </if>
      <if test="accAddress != null" >
        acc_address,
      </if>
      <if test="accName != null" >
        acc_name,
      </if>
      <if test="accType != null" >
        acc_type,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="fileOrder != null" >
        file_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accId != null" >
        #{accId,jdbcType=VARCHAR},
      </if>
      <if test="inforNo != null" >
        #{inforNo,jdbcType=VARCHAR},
      </if>
      <if test="accAddress != null" >
        #{accAddress,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accType != null" >
        #{accType,jdbcType=CHAR},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="fileOrder != null" >
        #{fileOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zrt.mybatis.domain.PlatInforAccessoryExample" resultType="java.lang.Integer" >
    select count(*) from plat_infor_accessory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plat_infor_accessory
    <set >
      <if test="record.accId != null" >
        acc_id = #{record.accId,jdbcType=VARCHAR},
      </if>
      <if test="record.inforNo != null" >
        infor_no = #{record.inforNo,jdbcType=VARCHAR},
      </if>
      <if test="record.accAddress != null" >
        acc_address = #{record.accAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.accName != null" >
        acc_name = #{record.accName,jdbcType=VARCHAR},
      </if>
      <if test="record.accType != null" >
        acc_type = #{record.accType,jdbcType=CHAR},
      </if>
      <if test="record.nodeId != null" >
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.fileOrder != null" >
        file_order = #{record.fileOrder,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plat_infor_accessory
    set acc_id = #{record.accId,jdbcType=VARCHAR},
      infor_no = #{record.inforNo,jdbcType=VARCHAR},
      acc_address = #{record.accAddress,jdbcType=VARCHAR},
      acc_name = #{record.accName,jdbcType=VARCHAR},
      acc_type = #{record.accType,jdbcType=CHAR},
      node_id = #{record.nodeId,jdbcType=VARCHAR},
      file_order = #{record.fileOrder,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrt.mybatis.domain.PlatInforAccessory" >
    update plat_infor_accessory
    <set >
      <if test="inforNo != null" >
        infor_no = #{inforNo,jdbcType=VARCHAR},
      </if>
      <if test="accAddress != null" >
        acc_address = #{accAddress,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        acc_name = #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accType != null" >
        acc_type = #{accType,jdbcType=CHAR},
      </if>
      <if test="nodeId != null" >
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="fileOrder != null" >
        file_order = #{fileOrder,jdbcType=INTEGER},
      </if>
    </set>
    where acc_id = #{accId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrt.mybatis.domain.PlatInforAccessory" >
    update plat_infor_accessory
    set infor_no = #{inforNo,jdbcType=VARCHAR},
      acc_address = #{accAddress,jdbcType=VARCHAR},
      acc_name = #{accName,jdbcType=VARCHAR},
      acc_type = #{accType,jdbcType=CHAR},
      node_id = #{nodeId,jdbcType=VARCHAR},
      file_order = #{fileOrder,jdbcType=INTEGER}
    where acc_id = #{accId,jdbcType=VARCHAR}
  </update>
</mapper>