<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.bumph.mapper.QueryBumphMapper" >

	  <select id="searchDocument" resultType="java.util.HashMap" >
		   	SELECT doc_id,
		   		   doc_name,
		   		   doc_number,
		   		   doc_date,
		   		   doc_type,
		   		   doc_urg,
		   		   doc_src,
		   		   doc_owner,
		   		   doc_phone,
				   doc_org,
				   doc_classes,
				   doc_dispunit,
				   tenant_id hand_type ,
				   remark,
				   doc_state,
				   rel_time,
				   sendim,
				   sendinfo,
				   create_date_time,
				   update_date_time,
				   bumph_type_code,
				   bumph_type_name
			FROM  document left join bumph_type
			ON   document.doc_type = bumph_type.bumph_type_code
			WHERE 1 = 1 
			<if test="doc_id != null and doc_id !=''">
				and doc_id = #{doc_id}  
			</if>
		<!-- 公文名称模糊查询-->	
			<if test="doc_name != null and doc_name !=''">
				and doc_name LIKE CONCAT('%',#{doc_name},'%')  
			</if>
			
			<if test="doc_urg != null and doc_urg !=''">
				and doc_urg = #{doc_urg}  
			</if>
			<if test="doc_owner_id != null and doc_owner_id !=''">
				and doc_owner_id = #{doc_owner_id}  
			</if>
			<if test="doc_owner != null and doc_owner !=''">
				and doc_owner LIKE CONCAT('%',#{doc_owner},'%')  
			</if>
			<if test="doc_org != null and doc_org !=''">
				and doc_org LIKE CONCAT('%',#{doc_org},'%')   
			</if>
			<if test="doc_state != null and doc_state !=''">
				and doc_state = #{doc_state}  
			</if>
			<if test="doc_type != null and doc_type !=''">
				and doc_type = #{doc_type}  
			</if>
			<if test="doc_classes != null and doc_classes !=''">
				and doc_classes = #{doc_classes}  
			</if>
		<!-- 公文日期的开始和结束判断-->		
			<if test="doc_date_start != null and doc_date_start !=''">
				and  doc_date >= #{doc_date_start}
			</if>
			<if test="doc_date_end != null and doc_date_end !=''">
				and  #{doc_date_end} > doc_date
			</if>
		<!-- 发布日期的开始和结束判断-->		
			<if test="rel_time_start != null and rel_time_start !=''">
					and  rel_time >= #{rel_time_start}
			</if>
			<if test="rel_time_end != null and rel_time_end !=''">
					and  #{rel_time_end} >= rel_time
			</if>
		<!-- 拟稿日期的开始和结束判断-->		
			<if test="create_date_time_start != null and create_date_time_start !=''">
					and  create_date_time >= #{create_date_time_start}
			</if>
			<if test="create_date_time_end != null and create_date_time_end !=''">
					and  #{create_date_time_end} >= create_date_time
			</if>
			ORDER BY create_date_time DESC
	  </select>
	  
<!-- 查询附件信息-->	  
	   <select id="searchDocAttach" resultType="java.util.HashMap" >
	   		SELECT doc_attack_ID,
	   		       doc_attach_url,
	   		       node_id,
	   			   doc_ID,
	   			   ATTACH_ID,
	   			   attach_type,
	   			   REMARK,
	   			   create_date_time,
	   			   update_date_time,
	   			   attach_name
			FROM   doc_attach
			WHERE  doc_ID = #{doc_id}
			ORDER BY tenant_id
	   </select>
	   
<!-- 查询处理人信息-->	   
	   <select id="searchDocHander" resultType="java.util.HashMap" >
	   		SELECT doc_hander_id,
	   			   doc_id,
	   			   handerID,
	   			   hander_name,
	   			   hand_type,
	   			   hand_info,
	   			   hand_time,
	   			   hand_state,
	   			   remark,
	   			   doc_read,
	   			   create_date_time,
	   			   update_date_time
			FROM   doc_hander
			WHERE  1 = 1
			<if test="doc_id != null and doc_id !=''" >
				and doc_ID = #{doc_id}
			</if>
			
			<if test="hand_state != null and hand_state !=''" >
				and hand_state = #{hand_state}
			</if>
			<if test="handerID != null and handerID !=''" >
				and handerID = #{handerID}
			</if>
			ORDER BY hander_order 
	   </select>
	   
	   
<!-- 查询待办公文-->	   
	   <select id="searchBacklog" resultType="java.util.HashMap" >
		   	SELECT doc.doc_id
			FROM  document doc left join doc_hander hander
			on doc. doc_id = hander.doc_id
			where 1=1
		<!-- 公文名称模糊查询-->	
			<if test="doc_name != null and doc_name !=''">
				and doc.doc_name LIKE CONCAT('%',#{doc_name},'%')  
			</if>
			
			<if test="doc_urg != null and doc_urg !=''">
				and doc.doc_urg = #{doc_urg}  
			</if>
			<if test="doc_owner != null and doc_owner !=''">
				and doc.doc_owner = #{doc_owner}  
			</if>
			<if test="doc_org != null and doc_org !=''">
				and doc.doc_org LIKE CONCAT('%',#{doc_org},'%')   
			</if>
			<if test="doc_state != null and doc_state !=''">
				and doc.doc_state = #{doc_state}  
			</if>
			
		<!-- 公文日期的开始和结束判断-->		
			<if test="doc_date_start != null and doc_date_start !=''">
					and  doc.doc_date >= #{doc_date_start}
			</if>
			<if test="doc_date_end != null and doc_date_end !=''">
					and  #{doc_date_end} > doc.doc_date
			</if>
			<if test="hand_state != null and hand_state !=''" >
				and hander.hand_state = #{hand_state}
			</if>
			<if test="handerID != null and handerID !=''" >
				and hander.handerID = #{handerID}
			</if>
		
	  </select>
	 
	 
<!--办理公文 -->	 
	  <update id="updateState" parameterType="java.util.Map" >
	    update doc_hander
	    <set>
	    	<if test="hand_info != null">
	    		hand_info = #{hand_info},
	    	</if>
	    	<if test="hand_time != null">
	    		hand_time = #{hand_time},
	    	</if>
	    	<if test="remark != null">
	    		remark = #{remark},
	    	</if>
	    	<if test="doc_read != null ">
	    		doc_read = #{doc_read},
	    	</if>
	    	<if test="update_date_time != null ">
	    		update_date_time = #{update_date_time},
	    	</if>
	    	<if test="hand_time != null ">
	    		hand_time = #{hand_time},
	    	</if>
	    	<if test="hand_state != null ">
	    		hand_state = #{hand_state},
	    	</if>
	    </set>
	    where handerID = #{emp_id} and doc_id = #{doc_id}
	  </update> 
	  
	   
<!--初始化公文处理人 -->	 
	  <update id="initDocHander" parameterType="java.util.Map" >
	    update  doc_hander
	    set		hand_info = null,
	    		hand_time = null,
	    		remark = null,
	    		doc_read = 0,
	    		update_date_time = #{update_date_time},
	    		hand_time = null,
	    		hand_state = 0
	    where doc_id = #{doc_id}
	  </update>  
	  
	  
<!--修改公文 -->	 
	  <update id="updateDocument" parameterType="java.util.Map" >
	    update document
	    set	  	   doc_name = #{doc_name},
		   		   doc_number = #{doc_number},
		   		   doc_date = #{doc_date},
		   		   doc_type = #{doc_type},
		   		   doc_urg = #{doc_urg},
		   		   doc_src = #{doc_src},
		   		   doc_phone = #{doc_phone},
				   doc_org = #{doc_org},
				   doc_dispunit = #{doc_dispunit},
				   remark = #{remark},
				   doc_state = #{doc_state},
				   rel_time = #{rel_time},
				   sendim = #{sendim},
				   tenant_id = #{hand_type} ,
				   sendinfo = #{sendinfo},
				   update_date_time = #{update_date_time}
	    where doc_id = #{doc_id}
	  </update>  
	  
<!--删除附件  -->	  
	  <delete id="deleteDocAttach" parameterType="java.util.Map" >
	    delete from doc_attach
	    where doc_id = #{doc_id}
	  </delete>
	  
	  
<!--删除公文处理人  -->	  
	  <delete id="deleteDocHander" parameterType="java.util.Map" >
	    delete from doc_hander
	    where doc_id = #{doc_id}
	  </delete>
<!--删除公文处理人  -->	  
	  <delete id="deleteDocHanderById" parameterType="java.util.Map" >
	    delete from doc_hander
	    where doc_id = #{doc_id} and handerID = #{handerID}
	  </delete>
	   

<!--  -->
	  <select id="searchAll" resultType="java.util.HashMap" >
		   	SELECT DISTINCT
		   	       doc.doc_id,
		   		   doc.doc_name,
		   		   doc.doc_number,
		   		   doc.doc_date,
		   		   doc.doc_type,
		   		   doc.doc_urg,
		   		   doc.doc_src,
		   		   doc.doc_owner_id,
		   		   doc.doc_owner,
		   		   doc.doc_phone,
				   doc.doc_org,
				   doc.doc_classes,
				   doc.doc_dispunit,
				   doc.remark,
				   doc.doc_state,
				   doc.rel_time,
				   doc.sendim,
				   doc.sendinfo,
				   doc.tenant_id hand_type ,
				   doc.create_date_time,
				   doc.update_date_time,
				   <!-- hander.hand_state, --> 
				   bumph_type_code,
				   bumph_type_name
			FROM  document doc left join doc_hander hander
			on doc. doc_id = hander.doc_id
			left join bumph_type type
			on doc.doc_type = type.bumph_type_code
			where  1=1
			<if test="handerID != null and handerID !=''">
			 and hander.handerID = #{handerID}
			</if>
			<if test="handerID == null or handerID ==''">
			and	(hander.handerID = #{emp_id} or doc.doc_owner_id = #{emp_id})
			</if>
		<!--公文名称模糊查询  -->	
			<if test="hand_state != null and hand_state !=''">
				and hander.hand_state = #{hand_state}  
			</if>
			<if test="doc_urg != null and doc_urg !=''">
				and doc_urg = #{doc_urg}  
			</if>
			<if test="doc_name != null and doc_name !=''">
				and doc.doc_name LIKE CONCAT('%',#{doc_name},'%')  
			</if>
			<if test="doc_owner != null and doc_owner !=''">
				and doc.doc_owner LIKE CONCAT('%',#{doc_owner},'%')  
			</if>
			
			<if test="doc_org != null and doc_org !=''">
				and doc.doc_org LIKE CONCAT('%',#{doc_org},'%')  
			</if>
			<if test="doc_state != null and doc_state !=''">
				and doc.doc_state = #{doc_state}  
			</if>
			
		<!-- 公文日期的开始和结束判断 -->		
			<if test="doc_date_start != null and doc_date_start !=''">
				and  doc.doc_date >= #{doc_date_start}
			</if>
			<if test="doc_date_end != null and doc_date_end !=''">
				and  #{doc_date_end} > doc.doc_date
			</if>
			
		<!-- 发布日期的开始和结束判断-->		
			<if test="rel_time_start != null and rel_time_start !=''">
				and  doc.rel_time >= #{rel_time_start}
			</if>
			<if test="rel_time_end != null and rel_time_end !=''">
				and  #{rel_time_end} >= doc.rel_time
			</if>	
		<!-- 拟稿日期的开始和结束判断-->		
			<if test="create_date_time_start != null and create_date_time_start !=''">
					and  doc.create_date_time >= #{create_date_time_start}
			</if>
			<if test="create_date_time_end != null and create_date_time_end !=''">
					and  #{create_date_time_end} >= doc.create_date_time
			</if>	
			ORDER BY hander.hand_time , doc.rel_time DESC,doc.create_date_time DESC
	  </select>	
	  
	  <select id="searchBumphType"  resultType="java.util.HashMap">
	 		 select bumph_type_code,
					bumph_type_name,
					bumph_type_state,
					bumph_type_createData
					from 
					bumph_type 
					where  1=1
					<if test="bumph_type_state != null and bumph_type_state !=''">
					 and bumph_type_state = #{bumph_type_state}
					</if>
					<if test="bumph_type_code != null and bumph_type_code !=''">
					 and bumph_type_code = #{bumph_type_code}
					</if>
					<if test="bumph_type_name != null and bumph_type_name !=''">
					 and bumph_type_name LIKE CONCAT('%',#{bumph_type_name},'%') 
					</if>
					ORDER BY bumph_type_createData
	  </select>  
	  
	  
	  <select id="searchMax" resultType="java.util.HashMap">
  		SELECT COUNT(bumph_type_code) FROM bumph_type;
  	</select> 
  	
  	
  	<select id="searchbumph"  resultType="java.util.HashMap">
  	 select count(doc_id) from document left join bumph_type 
  	 on document.doc_type = bumph_type.bumph_type_code
  	 where bumph_type.bumph_type_code = #{bumph_type_code}
  	</select>
	   
</mapper>