<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zrt.infor.mapper.inforControl.InforControlMapper">
	
	<!--获取单条讯息的收件总数 -->
	<select id="singleReceiveCount" resultType="java.util.HashMap">
       	SELECT
			count(DISTINCT pii.in_id) AS count
		FROM 
			plat_infor_inbox pii
		 JOIN 
			plat_infor_outbox pio 
		ON 
			pii.out_id = pio.out_id
		 JOIN 	
			plat_infor_record pir 
		ON 
			pir.infor_no = pio.infor_no
		 JOIN 
			plat_infor_detail pid 
		ON 
			pid.in_id = pii.in_id
		WHERE
			pio.sender_id = #{mapParam.emp_id}  
		<if test="mapParam.infor_no != null and mapParam.infor_no !=''">
                /*讯息编号*/
                AND pio.infor_no =#{mapParam.infor_no}
		</if>
		<if test="mapParam.receiver_id != null and mapParam.receiver_id !=''">
                /*接收人id*/
                AND pii.receiver_id =#{mapParam.receiver_id}
		</if>
		<if test="mapParam.receiver_name != null and mapParam.receiver_name !=''">
                /*接收人姓名*/
                AND pii.receiver_name LIKE CONCAT('%',#{mapParam.receiver_name},'%')
		</if>
		<if test="mapParam.title != null and mapParam.title !=''">
                /*标题*/
                AND pir.title LIKE CONCAT('%',#{mapParam.title},'%')
		</if>      
		<if test="mapParam.status != null and mapParam.status !=''">
                /*讯息处理状态*/
                AND pid.`status`=#{mapParam.status}
		</if>
		<if test="mapParam.deal_status != null and mapParam.deal_status !=''">
                /*讯息处理状态*/
                AND pii.deal_status=#{mapParam.deal_status}
		</if>
		<if test="mapParam.search_content != null and mapParam.search_content !=''">
                /*讯息标题或内容*/
                AND ( pir.title LIKE CONCAT('%',#{mapParam.search_content},'%') or pir.content LIKE CONCAT('%',#{mapParam.search_content},'%') )
		</if>
		<if test="mapParam.start_time != null and mapParam.start_time !=''">
                /*讯息发送时间和接收时间是统一时间*/
		<![CDATA[AND pio.create_date_time >= #{mapParam.start_time}]]>
		</if>
		<if test="mapParam.end_time != null and mapParam.end_time !=''">
                /*讯息发送时间和接收时间是统一时间*/
		<![CDATA[AND pio.create_date_time <= #{mapParam.end_time}]]>
		</if>      
	</select>
	
	<!-- 获取单条讯息的收件id -->
	<select id="singleReceiveGroup" resultType="java.util.HashMap">
       	SELECT
			DISTINCT pii.in_id,pii.receiver_id
		FROM 
			plat_infor_inbox pii
		JOIN 
			plat_infor_outbox pio 
		ON 
			pii.out_id = pio.out_id
		JOIN 	
			plat_infor_record pir 
		ON 
			pir.infor_no = pio.infor_no
		JOIN 
			plat_infor_detail pid 
		ON 
			pid.in_id = pii.in_id
		WHERE
			pio.sender_id = #{mapParam.emp_id}  
		<if test="mapParam.infor_no != null and mapParam.infor_no !=''">
                /*讯息编号*/
                AND pio.infor_no =#{mapParam.infor_no}
		</if>
		<if test="mapParam.receiver_id != null and mapParam.receiver_id !=''">
                /*接收人id*/
                AND pii.receiver_id =#{mapParam.receiver_id}
		</if>
		<if test="mapParam.receiver_name != null and mapParam.receiver_name !=''">
                /*接收人姓名*/
                AND pii.receiver_name LIKE CONCAT('%',#{mapParam.receiver_name},'%')
		</if>
		<if test="mapParam.title != null and mapParam.title !=''">
                /*标题*/
                AND pir.title LIKE CONCAT('%',#{mapParam.title},'%')
		</if>      
		<if test="mapParam.status != null and mapParam.status !=''">
                /*讯息处理状态*/
                AND pid.`status`=#{mapParam.status}
		</if>
		<if test="mapParam.deal_status != null and mapParam.deal_status !=''">
                /*讯息处理状态*/
                AND pii.deal_status=#{mapParam.deal_status}
		</if>
		<if test="mapParam.search_content != null and mapParam.search_content !=''">
                /*讯息标题或内容*/
                AND ( pir.title LIKE CONCAT('%',#{mapParam.search_content},'%') or pir.content LIKE CONCAT('%',#{mapParam.search_content},'%') )
		</if>   
		<if test="mapParam.start_time != null and mapParam.start_time !=''">
                /*讯息发送时间和接收时间是统一时间*/
		<![CDATA[AND pio.create_date_time >= #{mapParam.start_time}]]>
		</if>
		<if test="mapParam.end_time != null and mapParam.end_time !=''">
                /*讯息发送时间和接收时间是统一时间*/
		<![CDATA[AND pio.create_date_time <= #{mapParam.end_time}]]>
		</if>   
		order by pii.receiver_id
		<if test="mapParam.firstresult != null">
             limit #{mapParam.firstresult},#{mapParam.maxResult}
		</if>      
	</select>
	
	<select id="inforDetailsList" resultMap="inforDetailsListResultMap">

		SELECT
			pio.out_id AS pio_out_id,
			pir.infor_no AS pir_infor_no,
			pir.title AS pir_title,
			pir.content AS pir_content,
			pii.receiver_id AS pii_receiver_id,
			pii.receiver_name AS pii_receiver_name,
			pii.receiver_type AS pii_receiver_type,
			pii.deal_status AS pii_deal_status,
			pio.send_date_time AS pio_send_date_time,
			pii.in_id AS pii_in_id,
			pid.create_id AS pid_create_id,
			pid.`status` AS pid_status,
			pid.create_date_time AS pid_create_date_time
		FROM
			plat_infor_outbox pio
		JOIN 
			plat_infor_record pir ON pir.infor_no = pio.infor_no
		 JOIN 
			plat_infor_inbox pii ON pio.out_id = pii.out_id
		 JOIN 
			plat_infor_detail pid ON pid.in_id = pii.in_id
        where 
            pii.in_id IN
		<foreach collection="mapParam.inIdArr" item="inId" open="(" separator="," close=")">
                #{inId}
		</foreach>
		order by pii.receiver_id
	</select>
	
	
	<resultMap id="inforDetailsListResultMap" type="com.zrt.infor.domain.InforOutbox" >
		<id column="pio_out_id" property="outId" jdbcType="INTEGER" />
		<result column="pio_tenant_id" property="tenantId" jdbcType="VARCHAR" />
		<result column="pio_infor_no" property="inforNo" jdbcType="VARCHAR" />
		<result column="pio_sender_id" property="senderId" jdbcType="VARCHAR" />
		<result column="pio_sender_name" property="senderName" jdbcType="VARCHAR" />
		<result column="pio_org_id" property="orgId" jdbcType="VARCHAR" />
		<result column="pio_org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="pio_send_status" property="sendStatus" jdbcType="CHAR" />
		<result column="pio_trans_type" property="transType" jdbcType="CHAR" />
		<result column="pio_is_show" property="isShow" jdbcType="CHAR" />
		<result column="pio_create_date_time" property="createDateTime" jdbcType="CHAR" />
		<result column="pio_send_date_time" property="sendDateTime" jdbcType="CHAR" />
		<result column="pio_update_date_time" property="updateDateTime" jdbcType="CHAR" />
		<association property="inforRecord" javaType="com.zrt.infor.domain.InforRecord">
			<id column="pir_infor_id" property="inforId" jdbcType="VARCHAR" />
			<result column="pir_tenant_id" property="tenantId" jdbcType="VARCHAR" />
			<result column="pir_infor_no" property="inforNo" jdbcType="VARCHAR" />
			<result column="pir_parent_no" property="parentNo" jdbcType="VARCHAR" />
			<result column="pir_infor_code" property="inforCode" jdbcType="VARCHAR" />
			<result column="pir_title" property="title" jdbcType="VARCHAR" />
			<result column="pir_content" property="content" jdbcType="VARCHAR" />
			<result column="pir_category" property="category" jdbcType="VARCHAR" />
			<result column="pir_type" property="type" jdbcType="VARCHAR" />
			<result column="pir_create_emp_id" property="createEmpId" jdbcType="VARCHAR" />
			<result column="pir_create_emp_name" property="createEmpName" jdbcType="VARCHAR" />
			<result column="pir_create_date_time" property="createDateTime" jdbcType="CHAR" />
			<result column="pir_update_emp_id" property="updateEmpId" jdbcType="VARCHAR" />
			<result column="pir_update_emp_name" property="updateEmpName" jdbcType="VARCHAR" />
			<result column="pir_update_date_time" property="updateDateTime" jdbcType="CHAR" />
			<result column="pir_infor_version" property="inforVersion" jdbcType="CHAR" />
		</association>
		<collection property="inboxList" ofType="com.zrt.infor.domain.InforInbox">
			<id column="pii_in_id" property="inId" jdbcType="INTEGER" />
			<result column="pii_tenant_id" property="tenantId" jdbcType="VARCHAR" />
			<result column="pii_infor_no" property="inforNo" jdbcType="VARCHAR" />
			<result column="pii_out_id" property="outId" jdbcType="INTEGER" />
			<result column="pii_receiver_id" property="receiverId" jdbcType="VARCHAR" />
			<result column="pii_receiver_name" property="receiverName" jdbcType="VARCHAR" />
			<result column="pii_receiver_type" property="receiverType" jdbcType="CHAR" />
			<result column="pii_org_id" property="orgId" jdbcType="VARCHAR" />
			<result column="pii_org_name" property="orgName" jdbcType="VARCHAR" />
			<result column="pii_deal_status" property="dealStatus" jdbcType="VARCHAR" />
			<result column="pii_is_show" property="isShow" jdbcType="CHAR" />
			
			<collection property="detailList" ofType="com.zrt.infor.domain.InforDetail">
				<id column="pid_detail_id" property="detailId" jdbcType="INTEGER" />
				<result column="pid_in_id" property="inId" jdbcType="INTEGER" />
				<result column="pid_status" property="status" jdbcType="VARCHAR" />
				<result column="pid_note" property="note" jdbcType="VARCHAR" />
				<result column="pid_create_id" property="createId" jdbcType="VARCHAR" />
				<result column="pid_create_date_time" property="createDateTime" jdbcType="CHAR" />
			
			</collection>
		
		</collection>
	</resultMap>
  	
</mapper>