<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.mybatis.mapper.SysPlatPositionMapper" >
  <resultMap id="BaseResultMap" type="com.zrt.mybatis.domain.SysPlatPosition" >
    <id column="p_s_p_id" property="pSPId" jdbcType="VARCHAR" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="p_status" property="pStatus" jdbcType="CHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="CHAR" />
    <result column="update_date_time" property="updateDateTime" jdbcType="CHAR" />
    <result column="p_desc" property="pDesc" jdbcType="VARCHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="r_id" property="rId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    p_s_p_id, p_name, p_status, create_date_time, update_date_time, p_desc, tenant_id, 
    r_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zrt.mybatis.domain.SysPlatPositionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_plat_position
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_plat_position
    where p_s_p_id = #{pSPId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_plat_position
    where p_s_p_id = #{pSPId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrt.mybatis.domain.SysPlatPositionExample" >
    delete from sys_plat_position
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrt.mybatis.domain.SysPlatPosition" >
    insert into sys_plat_position (p_s_p_id, p_name, p_status, 
      create_date_time, update_date_time, p_desc, 
      tenant_id, r_id)
    values (#{pSPId,jdbcType=VARCHAR}, #{pName,jdbcType=VARCHAR}, #{pStatus,jdbcType=CHAR}, 
      #{createDateTime,jdbcType=CHAR}, #{updateDateTime,jdbcType=CHAR}, #{pDesc,jdbcType=VARCHAR}, 
      #{tenantId,jdbcType=VARCHAR}, #{rId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zrt.mybatis.domain.SysPlatPosition" >
    insert into sys_plat_position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pSPId != null" >
        p_s_p_id,
      </if>
      <if test="pName != null" >
        p_name,
      </if>
      <if test="pStatus != null" >
        p_status,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="updateDateTime != null" >
        update_date_time,
      </if>
      <if test="pDesc != null" >
        p_desc,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="rId != null" >
        r_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pSPId != null" >
        #{pSPId,jdbcType=VARCHAR},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pStatus != null" >
        #{pStatus,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="pDesc != null" >
        #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="rId != null" >
        #{rId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zrt.mybatis.domain.SysPlatPositionExample" resultType="java.lang.Integer" >
    select count(*) from sys_plat_position
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_plat_position
    <set >
      <if test="record.pSPId != null" >
        p_s_p_id = #{record.pSPId,jdbcType=VARCHAR},
      </if>
      <if test="record.pName != null" >
        p_name = #{record.pName,jdbcType=VARCHAR},
      </if>
      <if test="record.pStatus != null" >
        p_status = #{record.pStatus,jdbcType=CHAR},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=CHAR},
      </if>
      <if test="record.updateDateTime != null" >
        update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      </if>
      <if test="record.pDesc != null" >
        p_desc = #{record.pDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.rId != null" >
        r_id = #{record.rId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_plat_position
    set p_s_p_id = #{record.pSPId,jdbcType=VARCHAR},
      p_name = #{record.pName,jdbcType=VARCHAR},
      p_status = #{record.pStatus,jdbcType=CHAR},
      create_date_time = #{record.createDateTime,jdbcType=CHAR},
      update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      p_desc = #{record.pDesc,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      r_id = #{record.rId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrt.mybatis.domain.SysPlatPosition" >
    update sys_plat_position
    <set >
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pStatus != null" >
        p_status = #{pStatus,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        update_date_time = #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="pDesc != null" >
        p_desc = #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="rId != null" >
        r_id = #{rId,jdbcType=VARCHAR},
      </if>
    </set>
    where p_s_p_id = #{pSPId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrt.mybatis.domain.SysPlatPosition" >
    update sys_plat_position
    set p_name = #{pName,jdbcType=VARCHAR},
      p_status = #{pStatus,jdbcType=CHAR},
      create_date_time = #{createDateTime,jdbcType=CHAR},
      update_date_time = #{updateDateTime,jdbcType=CHAR},
      p_desc = #{pDesc,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      r_id = #{rId,jdbcType=VARCHAR}
    where p_s_p_id = #{pSPId,jdbcType=VARCHAR}
  </update>
</mapper>