<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zrt.flow.mapper.flowdraft.FlowdraftMapper">

	<!--获取流程草稿列表-->
	<select id="flowdraftList" resultType="java.util.HashMap">
       SELECT 
		  fbi.id AS inst_id,
		  fbi.fb_content ,
		  fbi.fb_title,
		  fbt.t_code,
		  fbt.t_name,
		  fbt.project_flag,
		  fbt.handle_flag,
		  fbt2.id AS parent_t_type_id,
		  fbt2.t_name AS parent_t_type_name,
		  fbt1.id AS t_type_id,
		  fbt1.t_name AS t_type_name
		FROM
		  fb_bus_inst fbi 
		  JOIN fb_bus_template fbt 
		    ON fbi.fb_id = fbt.id 
		  JOIN fb_bus_type fbt1 
		    ON fbt.f_b_t_id = fbt1.id 
		  JOIN fb_bus_type fbt2 
		    ON fbt.parent_id = fbt2.id 
		<if test="(project_code!=null and project_code!='') or (project_name!=null and project_name!='')">
	    	 join( select distinct fbpt.inst_id from  fb_bus_project fbpt
			<where>
				<if test="project_code!=null and project_code!=''">
			  		and fbpt.project_code =#{project_code}
				</if>
				<if test="project_name!=null and project_name!=''">
			  		and fbpt.project_name like CONCAT('%',#{project_name},'%')
				</if>
			</where>
	    ) fbpt
		</if>
		<if test="(project_code==null or project_code=='') and (project_name==null or project_name=='')">
	    	left join( select distinct fbpt.inst_id from  fb_bus_project fbpt
			<where>
				<if test="project_code!=null and project_code!=''">
			  		and fbpt.project_code =#{project_code}
				</if>
				<if test="project_name!=null and project_name!=''">
			  		and fbpt.project_name like CONCAT('%',#{project_name},'%')
				</if>
			</where>
	    ) fbpt
		</if>
	    on fbpt.inst_id=fbi.id
		WHERE fbi.inst_status = '0' 
        
		<if test="t_name != null and t_name !=''">
                AND fbt.t_name LIKE CONCAT ('%',#{t_name},'%')
		</if>
		<if test="t_code != null and t_code !=''">
                AND fbt.t_code LIKE CONCAT (#{t_code},'%')
		</if>
		<if test="t_type_name != null and t_type_name !=''">
                AND fbt1.t_name LIKE CONCAT('%',#{t_type_name},'%')
		</if>
		<if test="parent_t_type_name != null and parent_t_type_name !=''">
                AND fbt2.t_name LIKE CONCAT('%',#{parent_t_type_name},'%')
		</if>
		<if test="fb_title != null and fb_title !=''">
                AND fbi.fb_title LIKE CONCAT ('%',#{fb_title},'%')
		</if>
		<if test="fb_content != null and fb_content !=''">
                AND fbi.fb_content LIKE CONCAT ('%',#{fb_content},'%')
		</if>
		<if test="emp_id != null and emp_id !=''">
                AND fbi.apply_id = #{emp_id}
		</if>
		<if test="search!=null and search!=''">
		  		and (fbi.fb_title like CONCAT('%',#{search},'%') or fbi.id  like CONCAT('%',#{search},'%'))
		</if>
		<if test="inst_id!=null and inst_id!=''">
		  		and fbi.id =#{inst_id}
		</if>
		<if test="project_code!=null and project_code!=''">
		  		and fbpt.project_code =#{project_code}
		</if>
		<if test="project_name!=null and project_name!=''">
		  		and fbpt.project_name like CONCAT('%',#{project_name},'%')
		</if>
     order by fbi.create_date_time desc
	</select>


	<!--获取流程草稿列表-->
	<select id="appFlowdraftList" resultType="java.util.HashMap">
         SELECT 
		  fbi.id AS inst_id,
		  fbi.fb_content ,
		  fbi.apply_id,
		  fbi.fb_title,
		  fbt.t_code,
		  fbt.t_name,
		  fbt.project_flag,
		  fbt.handle_flag,
		  fbt2.id AS parent_t_type_id,
		  fbt2.t_name AS parent_t_type_name,
		  fbt1.id AS t_type_id,
		  fbt1.t_name AS t_type_name,
		  fbi.create_date_time
		FROM
		  fb_bus_inst fbi 
		  JOIN fb_bus_template fbt 
		    ON fbi.fb_id = fbt.id 
		  JOIN fb_bus_type fbt1 
		    ON fbt.f_b_t_id = fbt1.id 
		  JOIN fb_bus_type fbt2 
		    ON fbt.parent_id = fbt2.id 
		<if test="(project_code!=null and project_code!='') or (project_name!=null and project_name!='')">
	    	 join( select distinct fbpt.inst_id from  fb_bus_project fbpt
			<where>
				<if test="project_code!=null and project_code!=''">
			  		and fbpt.project_code =#{project_code}
				</if>
				<if test="project_name!=null and project_name!=''">
			  		and fbpt.project_name like CONCAT('%',#{project_name},'%')
				</if>
			</where>
	    ) fbpt on fbpt.inst_id=fbi.id
		</if>
		<if test="(project_code==null or project_code=='') and (project_name==null or project_name=='')">
	    	left join( select distinct fbpt.inst_id from  fb_bus_project fbpt
			<where>
				<if test="project_code!=null and project_code!=''">
			  		and fbpt.project_code =#{project_code}
				</if>
				<if test="project_name!=null and project_name!=''">
			  		and fbpt.project_name like CONCAT('%',#{project_name},'%')
				</if>
			</where>
	    ) fbpt on fbpt.inst_id=fbi.id
		</if>
	    
		WHERE fbi.inst_status = '0' 
        
		<if test="search != null and search !=''">
                AND (fbt.t_code LIKE CONCAT ('%',#{search},'%') OR fbi.fb_titile LIKE CONCAT ('%',#{search},'%'))
		</if>
		<if test="t_name != null and t_name !=''">
                AND fbt.t_name LIKE CONCAT ('%',#{t_name},'%')
		</if>
		<if test="t_type_name != null and t_type_name !=''">
                AND fbt1.t_name LIKE CONCAT('%',#{t_type_name},'%')
		</if>
		<if test="begin_create_date_time!=null and begin_create_date_time!=''">
		<![CDATA[AND fbi.create_date_time >= #{begin_create_date_time}]]>
		</if>
		<if test="end_create_date_time!=null and end_create_date_time!=''">
		<![CDATA[AND fbi.create_date_time <= #{end_create_date_time}]]>
		</if>
		<if test="fb_title != null and fb_title !=''">
                AND fbi.fb_title LIKE CONCAT ('%',#{fb_title},'%')
		</if>
		<if test="emp_id != null and emp_id !=''">
                AND fbi.apply_id = #{emp_id}
		</if>
		<if test="inst_id!=null and inst_id!=''">
		  		and fbi.id =#{inst_id}
		</if>
		  	

	</select>
</mapper>