<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zrt.flow.mapper.flowcare.FlowcareMapper">
	<resultMap id="instInfoListResultMap" type="com.zrt.flow.domain.InstInfoDomain" >
		<id column="inst_id" property="instId" jdbcType="VARCHAR" />
		<result column="inst_apply_id" property="applyId" jdbcType="VARCHAR" />
		<result column="inst_apply_name" property="applyName" jdbcType="VARCHAR" />
		<result column="inst_org_id" property="orgId" jdbcType="VARCHAR" />
		<result column="inst_org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="inst_fb_title" property="fbTitle" jdbcType="VARCHAR" />
		<result column="inst_fb_content" property="fbContent" jdbcType="CHAR" />
		<result column="inst_start_date_time" property="startDateTime" jdbcType="CHAR" />
		<result column="inst_status" property="instStatus" jdbcType="CHAR" />
		<result column="inst_fb_id" property="fbId" jdbcType="VARCHAR" />
		<result column="inst_t_name" property="tName" jdbcType="VARCHAR" />
		<result column="inst_t_code" property="tCode" jdbcType="VARCHAR" />
		<result column="inst_project_flag" property="projectFlag" jdbcType="CHAR" />
		<result column="inst_handle_flag" property="handleFlag" jdbcType="CHAR" />
		<result column="inst_t_type_id" property="tTypeId" jdbcType="VARCHAR" />
		<result column="inst_t_type_name" property="tTypeName" jdbcType="VARCHAR" />
		<result column="inst_parent_t_type_id" property="parentTTypeId" jdbcType="VARCHAR" />
		<result column="inst_parent_t_type_name" property="parentTTypeName" jdbcType="VARCHAR" />
		<result column="check_type" property="checkType" jdbcType="CHAR" />
		<result column="sign_id" property="signId" jdbcType="VARCHAR" />
		
		<collection property="taskList" ofType="com.zrt.flow.domain.TaskDomain">
			<result column="tk_task_id" property="taskId" jdbcType="VARCHAR" />
			<result column="tk_proc_inst_id" property="procInstId" jdbcType="VARCHAR" />
			<result column="tk_cur_tag_id" property="curTagId" jdbcType="VARCHAR" />
			<result column="tk_cur_tag_name" property="curTagName" jdbcType="VARCHAR" />
			<result column="tk_cur_tag_assignee" property="curTagAssignee" jdbcType="VARCHAR" />
			<result column="tk_delete_reason" property="deleteReason" jdbcType="VARCHAR" />
			<result column="tk_end_time" property="endTime" jdbcType="VARCHAR" />
			<result column="tk_duration" property="duration" jdbcType="BIGINT" />
		</collection>
		
	</resultMap>
	<!--获取流程关注列表-->
	<select id="flowcareList"  resultMap="instInfoListResultMap">
       SELECT 
	  fbi.id AS inst_id,
	  fbi.apply_id as inst_apply_id,
	  fbi.apply_name as inst_apply_name,
	  fbi.org_id as inst_org_id,
	  fbi.org_name as inst_org_name,
	  fbi.fb_title as inst_fb_title,
	  fbi.fb_content as inst_fb_content,
	  fbi.start_date_time as inst_start_date_time,
	  fbi.inst_status as inst_status,
	  fbt.id AS inst_fb_id,
	  fbt.t_name as inst_t_name,
	  fbt.t_code as inst_t_code,
	   fbt.project_flag as inst_project_flag,
	  fbt.handle_flag as inst_handle_flag,
	  fbt1.id AS inst_t_type_id,
	  fbt1.t_name AS inst_t_type_name,
	  fbt2.id AS inst_parent_t_type_id,
	  fbt2.t_name AS inst_parent_t_type_name 
	FROM
	  fb_bus_care fbc
	  join fb_bus_inst fbi 
        on fbc.inst_id=fbi.id
	  JOIN fb_bus_template fbt 
	    ON fbi.fb_id = fbt.id 
	   JOIN fb_bus_type fbt1 
	    ON fbt.f_b_t_id = fbt1.id 
	   JOIN fb_bus_type fbt2 
	    ON fbt.parent_id = fbt2.id 
	    left join fb_bus_project fbp
	      on fbp.inst_id=fbi.id
     
	  where
	  	  fbi.inst_status !='0' 
		<if test="t_code!=null and t_code!=''">
	  		and fbt.t_code=#{t_code}
		</if>
		<if test="t_name!=null and t_name!=''">
	  		and fbt.t_name like CONCAT(#{t_name},'%')
		</if>
		<if test="t_type_name!=null and t_type_name!=''">
	  		and fbt1.t_name like CONCAT(#{t_type_name},'%')
		</if>
		<if test="parent_t_type_name!=null and parent_t_type_name!=''">
	  		and fbt2.t_name like CONCAT(#{parent_t_type_name},'%')
		</if>
		<if test="apply_name!=null and apply_name!=''">
	  		and fbi.apply_name=#{apply_name}
		</if>
		<if test="org_name!=null and org_name!=''">
	  		and fbi.org_name like CONCAT(#{org_name},'%')
		</if>
		<if test="inst_status!=null and inst_status!=''">
	  		and fbi.inst_status =#{inst_status}
		</if>
		<if test="fb_title!=null and fb_title!=''">
	  		and fbi.fb_title  like CONCAT('%',#{fb_title},'%')
		</if>
		<if test="fb_content!=null and fb_content!=''">
	  		and fbi.fb_content  like CONCAT('%',#{fb_content},'%')
		</if>
		<if test="begin_start_date_time!=null and begin_start_date_time!=''">
		<![CDATA[AND fbi.start_date_time >= #{begin_start_date_time}]]>
		</if>
		<if test="end_start_date_time!=null and end_start_date_time!=''">
		<![CDATA[AND fbi.start_date_time <= #{end_start_date_time}]]>
		</if>
		<if test="apply_id!=null and apply_id!=''">
	  		and fbi.apply_id =#{apply_id}
		</if>
		<if test="search!=null and search!=''">
	  		and (fbi.fb_title like CONCAT('%',#{search},'%') or fbi.id  like CONCAT('%',#{search},'%'))
		</if>
		<if test="inst_id!=null and inst_id!=''">
	  		and fbi.id =#{inst_id}
		</if>
		<if test="project_name!=null and project_name!=''">
	  		and fbp.project_name =#{project_name}
		</if>
		<if test="project_code!=null and project_code!=''">
	  		and fbp.project_code =#{project_code}
		</if>
		<if test="care_emp_id!=null and care_emp_id!=''">
		  	and  fbc.emp_id=#{care_emp_id}
		</if>
		
		order by fbc.create_date_time desc
	</select>


	<!--获取流程关注列表-->
	<select id="appFlowcareList" resultType="java.util.HashMap">
        SELECT
        fbc.id,
        fbc.inst_id,
        t.t_code,
        i.fb_title,
        i.org_id,
        i.org_name,
        i.apply_id,
        i.apply_name,
        bt.id AS t_type_id,
        bt.t_name AS t_type_name,
        i.start_date_time,
        i.inst_status
        FROM
        fb_bus_care fbc,
        fb_bus_inst i,
        fb_bus_template t,
        fb_bus_type bt
        WHERE
        fbc.inst_id = i.id
        AND i.fb_id = t.id
        AND t.f_b_t_id = bt.id
        AND bt.t_enabled = 1
		<if test="search != null and search !=''">
            AND (i.fb_title LIKE CONCAT ('%',#{search},'%') OR t.t_code LIKE CONCAT ('%',#{search},'%'))
		</if>
		<if test="apply_name != null and apply_name !=''">
            AND i.apply_name LIKE CONCAT (#{apply_name},'%')
		</if>
		<if test="org_name != null and org_name !=''">
            AND i.org_name LIKE CONCAT ('%',#{org_name},'%')
		</if>
		<if test="t_type_name != null and t_type_name !=''">
            AND bt.t_name LIKE CONCAT('%',#{t_type_name},'%')
		</if>
		<if test="begin_start_date_time!=null and begin_start_date_time!=''">
		<![CDATA[AND i.start_date_time >= #{begin_start_date_time}]]>
		</if>
		<if test="end_start_date_time!=null and end_start_date_time!=''">
		<![CDATA[AND i.start_date_time <= #{end_start_date_time}]]>
		</if>
		<if test="inst_status != null and inst_status !=''">
            AND i.inst_status = #{inst_status}
		</if>
		<if test="emp_id != null and emp_id !=''">
            AND fbc.emp_id = #{emp_id}
		</if>
		<if test="search!=null and search!=''">
	  		and (i.title like CONCAT('%',#{search},'%') or i.inst_id  like CONCAT('%',#{search},'%'))
		</if>
		<if test="inst_id!=null and inst_id!=''">
	  		and i.id =#{inst_id}
		</if>
        order by fbc.create_date_time desc
	</select>
</mapper>