<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.mybatis.mapper.EmpContactsGroupMemberMapper" >
  <resultMap id="BaseResultMap" type="com.zrt.mybatis.domain.EmpContactsGroupMember" >
    <id column="group_member_id" property="groupMemberId" jdbcType="INTEGER" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="friend_group_id" property="friendGroupId" jdbcType="VARCHAR" />
    <result column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="member_level" property="memberLevel" jdbcType="CHAR" />
    <result column="member_status" property="memberStatus" jdbcType="CHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    group_member_id, tenant_id, friend_group_id, emp_id, member_level, member_status, 
    create_date_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zrt.mybatis.domain.EmpContactsGroupMemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from emp_contacts_group_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from emp_contacts_group_member
    where group_member_id = #{groupMemberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emp_contacts_group_member
    where group_member_id = #{groupMemberId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrt.mybatis.domain.EmpContactsGroupMemberExample" >
    delete from emp_contacts_group_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrt.mybatis.domain.EmpContactsGroupMember" >
    insert into emp_contacts_group_member (group_member_id, tenant_id, friend_group_id, 
      emp_id, member_level, member_status, 
      create_date_time)
    values (#{groupMemberId,jdbcType=INTEGER}, #{tenantId,jdbcType=VARCHAR}, #{friendGroupId,jdbcType=VARCHAR}, 
      #{empId,jdbcType=VARCHAR}, #{memberLevel,jdbcType=CHAR}, #{memberStatus,jdbcType=CHAR}, 
      #{createDateTime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zrt.mybatis.domain.EmpContactsGroupMember" >
    insert into emp_contacts_group_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupMemberId != null" >
        group_member_id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="friendGroupId != null" >
        friend_group_id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="memberLevel != null" >
        member_level,
      </if>
      <if test="memberStatus != null" >
        member_status,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupMemberId != null" >
        #{groupMemberId,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="friendGroupId != null" >
        #{friendGroupId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="memberLevel != null" >
        #{memberLevel,jdbcType=CHAR},
      </if>
      <if test="memberStatus != null" >
        #{memberStatus,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zrt.mybatis.domain.EmpContactsGroupMemberExample" resultType="java.lang.Integer" >
    select count(*) from emp_contacts_group_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update emp_contacts_group_member
    <set >
      <if test="record.groupMemberId != null" >
        group_member_id = #{record.groupMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.friendGroupId != null" >
        friend_group_id = #{record.friendGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberLevel != null" >
        member_level = #{record.memberLevel,jdbcType=CHAR},
      </if>
      <if test="record.memberStatus != null" >
        member_status = #{record.memberStatus,jdbcType=CHAR},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update emp_contacts_group_member
    set group_member_id = #{record.groupMemberId,jdbcType=INTEGER},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      friend_group_id = #{record.friendGroupId,jdbcType=VARCHAR},
      emp_id = #{record.empId,jdbcType=VARCHAR},
      member_level = #{record.memberLevel,jdbcType=CHAR},
      member_status = #{record.memberStatus,jdbcType=CHAR},
      create_date_time = #{record.createDateTime,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrt.mybatis.domain.EmpContactsGroupMember" >
    update emp_contacts_group_member
    <set >
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="friendGroupId != null" >
        friend_group_id = #{friendGroupId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="memberLevel != null" >
        member_level = #{memberLevel,jdbcType=CHAR},
      </if>
      <if test="memberStatus != null" >
        member_status = #{memberStatus,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=CHAR},
      </if>
    </set>
    where group_member_id = #{groupMemberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrt.mybatis.domain.EmpContactsGroupMember" >
    update emp_contacts_group_member
    set tenant_id = #{tenantId,jdbcType=VARCHAR},
      friend_group_id = #{friendGroupId,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      member_level = #{memberLevel,jdbcType=CHAR},
      member_status = #{memberStatus,jdbcType=CHAR},
      create_date_time = #{createDateTime,jdbcType=CHAR}
    where group_member_id = #{groupMemberId,jdbcType=INTEGER}
  </update>
</mapper>