<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.mybatis.mapper.SysInfoInvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.zrt.mybatis.domain.SysInfoInvoice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="titile_name" property="titileName" jdbcType="VARCHAR" />
    <result column="in_code" property="inCode" jdbcType="VARCHAR" />
    <result column="com_address" property="comAddress" jdbcType="VARCHAR" />
    <result column="com_phone" property="comPhone" jdbcType="VARCHAR" />
    <result column="acc_bank" property="accBank" jdbcType="VARCHAR" />
    <result column="acc_no" property="accNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, emp_id, titile_name, in_code, com_address, com_phone, acc_bank, acc_no
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zrt.mybatis.domain.SysInfoInvoiceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_info_invoice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_info_invoice
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_info_invoice
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrt.mybatis.domain.SysInfoInvoiceExample" >
    delete from sys_info_invoice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrt.mybatis.domain.SysInfoInvoice" >
    insert into sys_info_invoice (id, emp_id, titile_name, 
      in_code, com_address, com_phone, 
      acc_bank, acc_no)
    values (#{id,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, #{titileName,jdbcType=VARCHAR}, 
      #{inCode,jdbcType=VARCHAR}, #{comAddress,jdbcType=VARCHAR}, #{comPhone,jdbcType=VARCHAR}, 
      #{accBank,jdbcType=VARCHAR}, #{accNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zrt.mybatis.domain.SysInfoInvoice" >
    insert into sys_info_invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="titileName != null" >
        titile_name,
      </if>
      <if test="inCode != null" >
        in_code,
      </if>
      <if test="comAddress != null" >
        com_address,
      </if>
      <if test="comPhone != null" >
        com_phone,
      </if>
      <if test="accBank != null" >
        acc_bank,
      </if>
      <if test="accNo != null" >
        acc_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="titileName != null" >
        #{titileName,jdbcType=VARCHAR},
      </if>
      <if test="inCode != null" >
        #{inCode,jdbcType=VARCHAR},
      </if>
      <if test="comAddress != null" >
        #{comAddress,jdbcType=VARCHAR},
      </if>
      <if test="comPhone != null" >
        #{comPhone,jdbcType=VARCHAR},
      </if>
      <if test="accBank != null" >
        #{accBank,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        #{accNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zrt.mybatis.domain.SysInfoInvoiceExample" resultType="java.lang.Integer" >
    select count(*) from sys_info_invoice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_info_invoice
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.titileName != null" >
        titile_name = #{record.titileName,jdbcType=VARCHAR},
      </if>
      <if test="record.inCode != null" >
        in_code = #{record.inCode,jdbcType=VARCHAR},
      </if>
      <if test="record.comAddress != null" >
        com_address = #{record.comAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.comPhone != null" >
        com_phone = #{record.comPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.accBank != null" >
        acc_bank = #{record.accBank,jdbcType=VARCHAR},
      </if>
      <if test="record.accNo != null" >
        acc_no = #{record.accNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_info_invoice
    set id = #{record.id,jdbcType=VARCHAR},
      emp_id = #{record.empId,jdbcType=VARCHAR},
      titile_name = #{record.titileName,jdbcType=VARCHAR},
      in_code = #{record.inCode,jdbcType=VARCHAR},
      com_address = #{record.comAddress,jdbcType=VARCHAR},
      com_phone = #{record.comPhone,jdbcType=VARCHAR},
      acc_bank = #{record.accBank,jdbcType=VARCHAR},
      acc_no = #{record.accNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrt.mybatis.domain.SysInfoInvoice" >
    update sys_info_invoice
    <set >
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="titileName != null" >
        titile_name = #{titileName,jdbcType=VARCHAR},
      </if>
      <if test="inCode != null" >
        in_code = #{inCode,jdbcType=VARCHAR},
      </if>
      <if test="comAddress != null" >
        com_address = #{comAddress,jdbcType=VARCHAR},
      </if>
      <if test="comPhone != null" >
        com_phone = #{comPhone,jdbcType=VARCHAR},
      </if>
      <if test="accBank != null" >
        acc_bank = #{accBank,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null" >
        acc_no = #{accNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrt.mybatis.domain.SysInfoInvoice" >
    update sys_info_invoice
    set emp_id = #{empId,jdbcType=VARCHAR},
      titile_name = #{titileName,jdbcType=VARCHAR},
      in_code = #{inCode,jdbcType=VARCHAR},
      com_address = #{comAddress,jdbcType=VARCHAR},
      com_phone = #{comPhone,jdbcType=VARCHAR},
      acc_bank = #{accBank,jdbcType=VARCHAR},
      acc_no = #{accNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>