<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.mybatis.mapper.SysSecOrgMapper" >
  <resultMap id="BaseResultMap" type="com.zrt.mybatis.domain.SysSecOrg" >
    <id column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="root_org_id" property="rootOrgId" jdbcType="VARCHAR" />
    <result column="parent_org_id" property="parentOrgId" jdbcType="VARCHAR" />
    <result column="root_br_org_id" property="rootBrOrgId" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_desc" property="orgDesc" jdbcType="VARCHAR" />
    <result column="org_level" property="orgLevel" jdbcType="INTEGER" />
    <result column="org_type" property="orgType" jdbcType="CHAR" />
    <result column="sec_order" property="secOrder" jdbcType="INTEGER" />
    <result column="sec_enabled" property="secEnabled" jdbcType="CHAR" />
    <result column="sec_sys_flag" property="secSysFlag" jdbcType="CHAR" />
    <result column="sec_readonly_flag" property="secReadonlyFlag" jdbcType="CHAR" />
    <result column="sec_delete_flag" property="secDeleteFlag" jdbcType="CHAR" />
    <result column="version_" property="version" jdbcType="INTEGER" />
    <result column="create_date_time" property="createDateTime" jdbcType="CHAR" />
    <result column="update_date_time" property="updateDateTime" jdbcType="CHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="group_type" property="groupType" jdbcType="CHAR" />
    <result column="manage_emp_id" property="manageEmpId" jdbcType="VARCHAR" />
    <result column="manage_emp_name" property="manageEmpName" jdbcType="VARCHAR" />
    <result column="charge_emp_id" property="chargeEmpId" jdbcType="VARCHAR" />
    <result column="charge_emp_name" property="chargeEmpName" jdbcType="VARCHAR" />
    <result column="org_code_view" property="orgCodeView" jdbcType="VARCHAR" />
    <result column="org_name_view" property="orgNameView" jdbcType="VARCHAR" />
    <result column="org_name_owner" property="orgNameOwner" jdbcType="VARCHAR" />
    <result column="org_name_all" property="orgNameAll" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    org_id, root_org_id, parent_org_id, root_br_org_id, org_name, org_code, org_desc, 
    org_level, org_type, sec_order, sec_enabled, sec_sys_flag, sec_readonly_flag, sec_delete_flag, 
    version_, create_date_time, update_date_time, tenant_id, group_type, manage_emp_id, 
    manage_emp_name, charge_emp_id, charge_emp_name, org_code_view, org_name_view, org_name_owner, 
    org_name_all
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zrt.mybatis.domain.SysSecOrgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_sec_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_sec_org
    where org_id = #{orgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_sec_org
    where org_id = #{orgId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrt.mybatis.domain.SysSecOrgExample" >
    delete from sys_sec_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrt.mybatis.domain.SysSecOrg" >
    insert into sys_sec_org (org_id, root_org_id, parent_org_id, 
      root_br_org_id, org_name, org_code, 
      org_desc, org_level, org_type, 
      sec_order, sec_enabled, sec_sys_flag, 
      sec_readonly_flag, sec_delete_flag, version_, 
      create_date_time, update_date_time, tenant_id, 
      group_type, manage_emp_id, manage_emp_name, 
      charge_emp_id, charge_emp_name, org_code_view, 
      org_name_view, org_name_owner, org_name_all
      )
    values (#{orgId,jdbcType=VARCHAR}, #{rootOrgId,jdbcType=VARCHAR}, #{parentOrgId,jdbcType=VARCHAR}, 
      #{rootBrOrgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{orgDesc,jdbcType=VARCHAR}, #{orgLevel,jdbcType=INTEGER}, #{orgType,jdbcType=CHAR}, 
      #{secOrder,jdbcType=INTEGER}, #{secEnabled,jdbcType=CHAR}, #{secSysFlag,jdbcType=CHAR}, 
      #{secReadonlyFlag,jdbcType=CHAR}, #{secDeleteFlag,jdbcType=CHAR}, #{version,jdbcType=INTEGER}, 
      #{createDateTime,jdbcType=CHAR}, #{updateDateTime,jdbcType=CHAR}, #{tenantId,jdbcType=VARCHAR}, 
      #{groupType,jdbcType=CHAR}, #{manageEmpId,jdbcType=VARCHAR}, #{manageEmpName,jdbcType=VARCHAR}, 
      #{chargeEmpId,jdbcType=VARCHAR}, #{chargeEmpName,jdbcType=VARCHAR}, #{orgCodeView,jdbcType=VARCHAR}, 
      #{orgNameView,jdbcType=VARCHAR}, #{orgNameOwner,jdbcType=VARCHAR}, #{orgNameAll,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zrt.mybatis.domain.SysSecOrg" >
    insert into sys_sec_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="rootOrgId != null" >
        root_org_id,
      </if>
      <if test="parentOrgId != null" >
        parent_org_id,
      </if>
      <if test="rootBrOrgId != null" >
        root_br_org_id,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgDesc != null" >
        org_desc,
      </if>
      <if test="orgLevel != null" >
        org_level,
      </if>
      <if test="orgType != null" >
        org_type,
      </if>
      <if test="secOrder != null" >
        sec_order,
      </if>
      <if test="secEnabled != null" >
        sec_enabled,
      </if>
      <if test="secSysFlag != null" >
        sec_sys_flag,
      </if>
      <if test="secReadonlyFlag != null" >
        sec_readonly_flag,
      </if>
      <if test="secDeleteFlag != null" >
        sec_delete_flag,
      </if>
      <if test="version != null" >
        version_,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="updateDateTime != null" >
        update_date_time,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="groupType != null" >
        group_type,
      </if>
      <if test="manageEmpId != null" >
        manage_emp_id,
      </if>
      <if test="manageEmpName != null" >
        manage_emp_name,
      </if>
      <if test="chargeEmpId != null" >
        charge_emp_id,
      </if>
      <if test="chargeEmpName != null" >
        charge_emp_name,
      </if>
      <if test="orgCodeView != null" >
        org_code_view,
      </if>
      <if test="orgNameView != null" >
        org_name_view,
      </if>
      <if test="orgNameOwner != null" >
        org_name_owner,
      </if>
      <if test="orgNameAll != null" >
        org_name_all,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="rootOrgId != null" >
        #{rootOrgId,jdbcType=VARCHAR},
      </if>
      <if test="parentOrgId != null" >
        #{parentOrgId,jdbcType=VARCHAR},
      </if>
      <if test="rootBrOrgId != null" >
        #{rootBrOrgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgDesc != null" >
        #{orgDesc,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=CHAR},
      </if>
      <if test="secOrder != null" >
        #{secOrder,jdbcType=INTEGER},
      </if>
      <if test="secEnabled != null" >
        #{secEnabled,jdbcType=CHAR},
      </if>
      <if test="secSysFlag != null" >
        #{secSysFlag,jdbcType=CHAR},
      </if>
      <if test="secReadonlyFlag != null" >
        #{secReadonlyFlag,jdbcType=CHAR},
      </if>
      <if test="secDeleteFlag != null" >
        #{secDeleteFlag,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null" >
        #{groupType,jdbcType=CHAR},
      </if>
      <if test="manageEmpId != null" >
        #{manageEmpId,jdbcType=VARCHAR},
      </if>
      <if test="manageEmpName != null" >
        #{manageEmpName,jdbcType=VARCHAR},
      </if>
      <if test="chargeEmpId != null" >
        #{chargeEmpId,jdbcType=VARCHAR},
      </if>
      <if test="chargeEmpName != null" >
        #{chargeEmpName,jdbcType=VARCHAR},
      </if>
      <if test="orgCodeView != null" >
        #{orgCodeView,jdbcType=VARCHAR},
      </if>
      <if test="orgNameView != null" >
        #{orgNameView,jdbcType=VARCHAR},
      </if>
      <if test="orgNameOwner != null" >
        #{orgNameOwner,jdbcType=VARCHAR},
      </if>
      <if test="orgNameAll != null" >
        #{orgNameAll,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zrt.mybatis.domain.SysSecOrgExample" resultType="java.lang.Integer" >
    select count(*) from sys_sec_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_sec_org
    <set >
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.rootOrgId != null" >
        root_org_id = #{record.rootOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentOrgId != null" >
        parent_org_id = #{record.parentOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.rootBrOrgId != null" >
        root_br_org_id = #{record.rootBrOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgDesc != null" >
        org_desc = #{record.orgDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.orgLevel != null" >
        org_level = #{record.orgLevel,jdbcType=INTEGER},
      </if>
      <if test="record.orgType != null" >
        org_type = #{record.orgType,jdbcType=CHAR},
      </if>
      <if test="record.secOrder != null" >
        sec_order = #{record.secOrder,jdbcType=INTEGER},
      </if>
      <if test="record.secEnabled != null" >
        sec_enabled = #{record.secEnabled,jdbcType=CHAR},
      </if>
      <if test="record.secSysFlag != null" >
        sec_sys_flag = #{record.secSysFlag,jdbcType=CHAR},
      </if>
      <if test="record.secReadonlyFlag != null" >
        sec_readonly_flag = #{record.secReadonlyFlag,jdbcType=CHAR},
      </if>
      <if test="record.secDeleteFlag != null" >
        sec_delete_flag = #{record.secDeleteFlag,jdbcType=CHAR},
      </if>
      <if test="record.version != null" >
        version_ = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=CHAR},
      </if>
      <if test="record.updateDateTime != null" >
        update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupType != null" >
        group_type = #{record.groupType,jdbcType=CHAR},
      </if>
      <if test="record.manageEmpId != null" >
        manage_emp_id = #{record.manageEmpId,jdbcType=VARCHAR},
      </if>
      <if test="record.manageEmpName != null" >
        manage_emp_name = #{record.manageEmpName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeEmpId != null" >
        charge_emp_id = #{record.chargeEmpId,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeEmpName != null" >
        charge_emp_name = #{record.chargeEmpName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCodeView != null" >
        org_code_view = #{record.orgCodeView,jdbcType=VARCHAR},
      </if>
      <if test="record.orgNameView != null" >
        org_name_view = #{record.orgNameView,jdbcType=VARCHAR},
      </if>
      <if test="record.orgNameOwner != null" >
        org_name_owner = #{record.orgNameOwner,jdbcType=VARCHAR},
      </if>
      <if test="record.orgNameAll != null" >
        org_name_all = #{record.orgNameAll,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_sec_org
    set org_id = #{record.orgId,jdbcType=VARCHAR},
      root_org_id = #{record.rootOrgId,jdbcType=VARCHAR},
      parent_org_id = #{record.parentOrgId,jdbcType=VARCHAR},
      root_br_org_id = #{record.rootBrOrgId,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      org_desc = #{record.orgDesc,jdbcType=VARCHAR},
      org_level = #{record.orgLevel,jdbcType=INTEGER},
      org_type = #{record.orgType,jdbcType=CHAR},
      sec_order = #{record.secOrder,jdbcType=INTEGER},
      sec_enabled = #{record.secEnabled,jdbcType=CHAR},
      sec_sys_flag = #{record.secSysFlag,jdbcType=CHAR},
      sec_readonly_flag = #{record.secReadonlyFlag,jdbcType=CHAR},
      sec_delete_flag = #{record.secDeleteFlag,jdbcType=CHAR},
      version_ = #{record.version,jdbcType=INTEGER},
      create_date_time = #{record.createDateTime,jdbcType=CHAR},
      update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      group_type = #{record.groupType,jdbcType=CHAR},
      manage_emp_id = #{record.manageEmpId,jdbcType=VARCHAR},
      manage_emp_name = #{record.manageEmpName,jdbcType=VARCHAR},
      charge_emp_id = #{record.chargeEmpId,jdbcType=VARCHAR},
      charge_emp_name = #{record.chargeEmpName,jdbcType=VARCHAR},
      org_code_view = #{record.orgCodeView,jdbcType=VARCHAR},
      org_name_view = #{record.orgNameView,jdbcType=VARCHAR},
      org_name_owner = #{record.orgNameOwner,jdbcType=VARCHAR},
      org_name_all = #{record.orgNameAll,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrt.mybatis.domain.SysSecOrg" >
    update sys_sec_org
    <set >
      <if test="rootOrgId != null" >
        root_org_id = #{rootOrgId,jdbcType=VARCHAR},
      </if>
      <if test="parentOrgId != null" >
        parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
      </if>
      <if test="rootBrOrgId != null" >
        root_br_org_id = #{rootBrOrgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgDesc != null" >
        org_desc = #{orgDesc,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null" >
        org_level = #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="orgType != null" >
        org_type = #{orgType,jdbcType=CHAR},
      </if>
      <if test="secOrder != null" >
        sec_order = #{secOrder,jdbcType=INTEGER},
      </if>
      <if test="secEnabled != null" >
        sec_enabled = #{secEnabled,jdbcType=CHAR},
      </if>
      <if test="secSysFlag != null" >
        sec_sys_flag = #{secSysFlag,jdbcType=CHAR},
      </if>
      <if test="secReadonlyFlag != null" >
        sec_readonly_flag = #{secReadonlyFlag,jdbcType=CHAR},
      </if>
      <if test="secDeleteFlag != null" >
        sec_delete_flag = #{secDeleteFlag,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        version_ = #{version,jdbcType=INTEGER},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        update_date_time = #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null" >
        group_type = #{groupType,jdbcType=CHAR},
      </if>
      <if test="manageEmpId != null" >
        manage_emp_id = #{manageEmpId,jdbcType=VARCHAR},
      </if>
      <if test="manageEmpName != null" >
        manage_emp_name = #{manageEmpName,jdbcType=VARCHAR},
      </if>
      <if test="chargeEmpId != null" >
        charge_emp_id = #{chargeEmpId,jdbcType=VARCHAR},
      </if>
      <if test="chargeEmpName != null" >
        charge_emp_name = #{chargeEmpName,jdbcType=VARCHAR},
      </if>
      <if test="orgCodeView != null" >
        org_code_view = #{orgCodeView,jdbcType=VARCHAR},
      </if>
      <if test="orgNameView != null" >
        org_name_view = #{orgNameView,jdbcType=VARCHAR},
      </if>
      <if test="orgNameOwner != null" >
        org_name_owner = #{orgNameOwner,jdbcType=VARCHAR},
      </if>
      <if test="orgNameAll != null" >
        org_name_all = #{orgNameAll,jdbcType=VARCHAR},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrt.mybatis.domain.SysSecOrg" >
    update sys_sec_org
    set root_org_id = #{rootOrgId,jdbcType=VARCHAR},
      parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
      root_br_org_id = #{rootBrOrgId,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_desc = #{orgDesc,jdbcType=VARCHAR},
      org_level = #{orgLevel,jdbcType=INTEGER},
      org_type = #{orgType,jdbcType=CHAR},
      sec_order = #{secOrder,jdbcType=INTEGER},
      sec_enabled = #{secEnabled,jdbcType=CHAR},
      sec_sys_flag = #{secSysFlag,jdbcType=CHAR},
      sec_readonly_flag = #{secReadonlyFlag,jdbcType=CHAR},
      sec_delete_flag = #{secDeleteFlag,jdbcType=CHAR},
      version_ = #{version,jdbcType=INTEGER},
      create_date_time = #{createDateTime,jdbcType=CHAR},
      update_date_time = #{updateDateTime,jdbcType=CHAR},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      group_type = #{groupType,jdbcType=CHAR},
      manage_emp_id = #{manageEmpId,jdbcType=VARCHAR},
      manage_emp_name = #{manageEmpName,jdbcType=VARCHAR},
      charge_emp_id = #{chargeEmpId,jdbcType=VARCHAR},
      charge_emp_name = #{chargeEmpName,jdbcType=VARCHAR},
      org_code_view = #{orgCodeView,jdbcType=VARCHAR},
      org_name_view = #{orgNameView,jdbcType=VARCHAR},
      org_name_owner = #{orgNameOwner,jdbcType=VARCHAR},
      org_name_all = #{orgNameAll,jdbcType=VARCHAR}
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
</mapper>