<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.mybatis.mapper.SysWorkRedeployMapper" >
  <resultMap id="BaseResultMap" type="com.zrt.mybatis.domain.SysWorkRedeploy" >
    <id column="work_redeploy_id" property="workRedeployId" jdbcType="VARCHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="emp_position_id" property="empPositionId" jdbcType="VARCHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="CHAR" />
    <result column="end_date_time" property="endDateTime" jdbcType="CHAR" />
    <result column="update_date_time" property="updateDateTime" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zrt.mybatis.domain.SysWorkRedeploy" extends="BaseResultMap" >
    <result column="redeploy_content" property="redeployContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    work_redeploy_id, tenant_id, emp_id, org_id, emp_position_id, create_date_time, end_date_time, 
    update_date_time
  </sql>
  <sql id="Blob_Column_List" >
    redeploy_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.zrt.mybatis.domain.SysWorkRedeployExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_work_redeploy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zrt.mybatis.domain.SysWorkRedeployExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_work_redeploy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_work_redeploy
    where work_redeploy_id = #{workRedeployId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_work_redeploy
    where work_redeploy_id = #{workRedeployId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrt.mybatis.domain.SysWorkRedeployExample" >
    delete from sys_work_redeploy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrt.mybatis.domain.SysWorkRedeploy" >
    insert into sys_work_redeploy (work_redeploy_id, tenant_id, emp_id, 
      org_id, emp_position_id, create_date_time, 
      end_date_time, update_date_time, redeploy_content
      )
    values (#{workRedeployId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{empPositionId,jdbcType=VARCHAR}, #{createDateTime,jdbcType=CHAR}, 
      #{endDateTime,jdbcType=CHAR}, #{updateDateTime,jdbcType=CHAR}, #{redeployContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zrt.mybatis.domain.SysWorkRedeploy" >
    insert into sys_work_redeploy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workRedeployId != null" >
        work_redeploy_id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="empPositionId != null" >
        emp_position_id,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="endDateTime != null" >
        end_date_time,
      </if>
      <if test="updateDateTime != null" >
        update_date_time,
      </if>
      <if test="redeployContent != null" >
        redeploy_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workRedeployId != null" >
        #{workRedeployId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="empPositionId != null" >
        #{empPositionId,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="endDateTime != null" >
        #{endDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="redeployContent != null" >
        #{redeployContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zrt.mybatis.domain.SysWorkRedeployExample" resultType="java.lang.Integer" >
    select count(*) from sys_work_redeploy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_work_redeploy
    <set >
      <if test="record.workRedeployId != null" >
        work_redeploy_id = #{record.workRedeployId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.empPositionId != null" >
        emp_position_id = #{record.empPositionId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=CHAR},
      </if>
      <if test="record.endDateTime != null" >
        end_date_time = #{record.endDateTime,jdbcType=CHAR},
      </if>
      <if test="record.updateDateTime != null" >
        update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      </if>
      <if test="record.redeployContent != null" >
        redeploy_content = #{record.redeployContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sys_work_redeploy
    set work_redeploy_id = #{record.workRedeployId,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      emp_id = #{record.empId,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      emp_position_id = #{record.empPositionId,jdbcType=VARCHAR},
      create_date_time = #{record.createDateTime,jdbcType=CHAR},
      end_date_time = #{record.endDateTime,jdbcType=CHAR},
      update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      redeploy_content = #{record.redeployContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_work_redeploy
    set work_redeploy_id = #{record.workRedeployId,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      emp_id = #{record.empId,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      emp_position_id = #{record.empPositionId,jdbcType=VARCHAR},
      create_date_time = #{record.createDateTime,jdbcType=CHAR},
      end_date_time = #{record.endDateTime,jdbcType=CHAR},
      update_date_time = #{record.updateDateTime,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrt.mybatis.domain.SysWorkRedeploy" >
    update sys_work_redeploy
    <set >
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="empPositionId != null" >
        emp_position_id = #{empPositionId,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="endDateTime != null" >
        end_date_time = #{endDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        update_date_time = #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="redeployContent != null" >
        redeploy_content = #{redeployContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where work_redeploy_id = #{workRedeployId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zrt.mybatis.domain.SysWorkRedeploy" >
    update sys_work_redeploy
    set tenant_id = #{tenantId,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      emp_position_id = #{empPositionId,jdbcType=VARCHAR},
      create_date_time = #{createDateTime,jdbcType=CHAR},
      end_date_time = #{endDateTime,jdbcType=CHAR},
      update_date_time = #{updateDateTime,jdbcType=CHAR},
      redeploy_content = #{redeployContent,jdbcType=LONGVARCHAR}
    where work_redeploy_id = #{workRedeployId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrt.mybatis.domain.SysWorkRedeploy" >
    update sys_work_redeploy
    set tenant_id = #{tenantId,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      emp_position_id = #{empPositionId,jdbcType=VARCHAR},
      create_date_time = #{createDateTime,jdbcType=CHAR},
      end_date_time = #{endDateTime,jdbcType=CHAR},
      update_date_time = #{updateDateTime,jdbcType=CHAR}
    where work_redeploy_id = #{workRedeployId,jdbcType=VARCHAR}
  </update>
</mapper>