<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.mybatis.mapper.FbBusInstNotifyEmpMapper" >
  <resultMap id="BaseResultMap" type="com.zrt.mybatis.domain.FbBusInstNotifyEmp" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="notify_emp_id" property="notifyEmpId" jdbcType="VARCHAR" />
    <result column="notify_emp_name" property="notifyEmpName" jdbcType="VARCHAR" />
    <result column="notify_org_id" property="notifyOrgId" jdbcType="VARCHAR" />
    <result column="notify_org_name" property="notifyOrgName" jdbcType="VARCHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="CHAR" />
    <result column="update_date_time" property="updateDateTime" jdbcType="CHAR" />
    <result column="notify_id" property="notifyId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, notify_emp_id, notify_emp_name, notify_org_id, notify_org_name, create_date_time, 
    update_date_time, notify_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyEmpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fb_bus_inst_notify_emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from fb_bus_inst_notify_emp
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fb_bus_inst_notify_emp
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyEmpExample" >
    delete from fb_bus_inst_notify_emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyEmp" >
    insert into fb_bus_inst_notify_emp (id, notify_emp_id, notify_emp_name, 
      notify_org_id, notify_org_name, create_date_time, 
      update_date_time, notify_id)
    values (#{id,jdbcType=VARCHAR}, #{notifyEmpId,jdbcType=VARCHAR}, #{notifyEmpName,jdbcType=VARCHAR}, 
      #{notifyOrgId,jdbcType=VARCHAR}, #{notifyOrgName,jdbcType=VARCHAR}, #{createDateTime,jdbcType=CHAR}, 
      #{updateDateTime,jdbcType=CHAR}, #{notifyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyEmp" >
    insert into fb_bus_inst_notify_emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="notifyEmpId != null" >
        notify_emp_id,
      </if>
      <if test="notifyEmpName != null" >
        notify_emp_name,
      </if>
      <if test="notifyOrgId != null" >
        notify_org_id,
      </if>
      <if test="notifyOrgName != null" >
        notify_org_name,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="updateDateTime != null" >
        update_date_time,
      </if>
      <if test="notifyId != null" >
        notify_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="notifyEmpId != null" >
        #{notifyEmpId,jdbcType=VARCHAR},
      </if>
      <if test="notifyEmpName != null" >
        #{notifyEmpName,jdbcType=VARCHAR},
      </if>
      <if test="notifyOrgId != null" >
        #{notifyOrgId,jdbcType=VARCHAR},
      </if>
      <if test="notifyOrgName != null" >
        #{notifyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="notifyId != null" >
        #{notifyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyEmpExample" resultType="java.lang.Integer" >
    select count(*) from fb_bus_inst_notify_emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fb_bus_inst_notify_emp
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyEmpId != null" >
        notify_emp_id = #{record.notifyEmpId,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyEmpName != null" >
        notify_emp_name = #{record.notifyEmpName,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyOrgId != null" >
        notify_org_id = #{record.notifyOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyOrgName != null" >
        notify_org_name = #{record.notifyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=CHAR},
      </if>
      <if test="record.updateDateTime != null" >
        update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      </if>
      <if test="record.notifyId != null" >
        notify_id = #{record.notifyId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fb_bus_inst_notify_emp
    set id = #{record.id,jdbcType=VARCHAR},
      notify_emp_id = #{record.notifyEmpId,jdbcType=VARCHAR},
      notify_emp_name = #{record.notifyEmpName,jdbcType=VARCHAR},
      notify_org_id = #{record.notifyOrgId,jdbcType=VARCHAR},
      notify_org_name = #{record.notifyOrgName,jdbcType=VARCHAR},
      create_date_time = #{record.createDateTime,jdbcType=CHAR},
      update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      notify_id = #{record.notifyId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyEmp" >
    update fb_bus_inst_notify_emp
    <set >
      <if test="notifyEmpId != null" >
        notify_emp_id = #{notifyEmpId,jdbcType=VARCHAR},
      </if>
      <if test="notifyEmpName != null" >
        notify_emp_name = #{notifyEmpName,jdbcType=VARCHAR},
      </if>
      <if test="notifyOrgId != null" >
        notify_org_id = #{notifyOrgId,jdbcType=VARCHAR},
      </if>
      <if test="notifyOrgName != null" >
        notify_org_name = #{notifyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        update_date_time = #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="notifyId != null" >
        notify_id = #{notifyId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyEmp" >
    update fb_bus_inst_notify_emp
    set notify_emp_id = #{notifyEmpId,jdbcType=VARCHAR},
      notify_emp_name = #{notifyEmpName,jdbcType=VARCHAR},
      notify_org_id = #{notifyOrgId,jdbcType=VARCHAR},
      notify_org_name = #{notifyOrgName,jdbcType=VARCHAR},
      create_date_time = #{createDateTime,jdbcType=CHAR},
      update_date_time = #{updateDateTime,jdbcType=CHAR},
      notify_id = #{notifyId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>