<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.mybatis.mapper.FbBusRejectRuleMapper" >
  <resultMap id="BaseResultMap" type="com.zrt.mybatis.domain.FbBusRejectRule" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="inst_id" property="instId" jdbcType="VARCHAR" />
    <result column="check_id" property="checkId" jdbcType="VARCHAR" />
    <result column="old_inst_tag" property="oldInstTag" jdbcType="VARCHAR" />
    <result column="old_inst_tag_name" property="oldInstTagName" jdbcType="VARCHAR" />
    <result column="deal_flag" property="dealFlag" jdbcType="CHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="CHAR" />
    <result column="update_date_time" property="updateDateTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, inst_id, check_id, old_inst_tag, old_inst_tag_name, deal_flag, create_date_time, 
    update_date_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zrt.mybatis.domain.FbBusRejectRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fb_bus_reject_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from fb_bus_reject_rule
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fb_bus_reject_rule
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrt.mybatis.domain.FbBusRejectRuleExample" >
    delete from fb_bus_reject_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrt.mybatis.domain.FbBusRejectRule" >
    insert into fb_bus_reject_rule (id, inst_id, check_id, 
      old_inst_tag, old_inst_tag_name, deal_flag, 
      create_date_time, update_date_time)
    values (#{id,jdbcType=VARCHAR}, #{instId,jdbcType=VARCHAR}, #{checkId,jdbcType=VARCHAR}, 
      #{oldInstTag,jdbcType=VARCHAR}, #{oldInstTagName,jdbcType=VARCHAR}, #{dealFlag,jdbcType=CHAR}, 
      #{createDateTime,jdbcType=CHAR}, #{updateDateTime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zrt.mybatis.domain.FbBusRejectRule" >
    insert into fb_bus_reject_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="instId != null" >
        inst_id,
      </if>
      <if test="checkId != null" >
        check_id,
      </if>
      <if test="oldInstTag != null" >
        old_inst_tag,
      </if>
      <if test="oldInstTagName != null" >
        old_inst_tag_name,
      </if>
      <if test="dealFlag != null" >
        deal_flag,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="updateDateTime != null" >
        update_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="instId != null" >
        #{instId,jdbcType=VARCHAR},
      </if>
      <if test="checkId != null" >
        #{checkId,jdbcType=VARCHAR},
      </if>
      <if test="oldInstTag != null" >
        #{oldInstTag,jdbcType=VARCHAR},
      </if>
      <if test="oldInstTagName != null" >
        #{oldInstTagName,jdbcType=VARCHAR},
      </if>
      <if test="dealFlag != null" >
        #{dealFlag,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        #{updateDateTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zrt.mybatis.domain.FbBusRejectRuleExample" resultType="java.lang.Integer" >
    select count(*) from fb_bus_reject_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fb_bus_reject_rule
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.instId != null" >
        inst_id = #{record.instId,jdbcType=VARCHAR},
      </if>
      <if test="record.checkId != null" >
        check_id = #{record.checkId,jdbcType=VARCHAR},
      </if>
      <if test="record.oldInstTag != null" >
        old_inst_tag = #{record.oldInstTag,jdbcType=VARCHAR},
      </if>
      <if test="record.oldInstTagName != null" >
        old_inst_tag_name = #{record.oldInstTagName,jdbcType=VARCHAR},
      </if>
      <if test="record.dealFlag != null" >
        deal_flag = #{record.dealFlag,jdbcType=CHAR},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=CHAR},
      </if>
      <if test="record.updateDateTime != null" >
        update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fb_bus_reject_rule
    set id = #{record.id,jdbcType=VARCHAR},
      inst_id = #{record.instId,jdbcType=VARCHAR},
      check_id = #{record.checkId,jdbcType=VARCHAR},
      old_inst_tag = #{record.oldInstTag,jdbcType=VARCHAR},
      old_inst_tag_name = #{record.oldInstTagName,jdbcType=VARCHAR},
      deal_flag = #{record.dealFlag,jdbcType=CHAR},
      create_date_time = #{record.createDateTime,jdbcType=CHAR},
      update_date_time = #{record.updateDateTime,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrt.mybatis.domain.FbBusRejectRule" >
    update fb_bus_reject_rule
    <set >
      <if test="instId != null" >
        inst_id = #{instId,jdbcType=VARCHAR},
      </if>
      <if test="checkId != null" >
        check_id = #{checkId,jdbcType=VARCHAR},
      </if>
      <if test="oldInstTag != null" >
        old_inst_tag = #{oldInstTag,jdbcType=VARCHAR},
      </if>
      <if test="oldInstTagName != null" >
        old_inst_tag_name = #{oldInstTagName,jdbcType=VARCHAR},
      </if>
      <if test="dealFlag != null" >
        deal_flag = #{dealFlag,jdbcType=CHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        update_date_time = #{updateDateTime,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrt.mybatis.domain.FbBusRejectRule" >
    update fb_bus_reject_rule
    set inst_id = #{instId,jdbcType=VARCHAR},
      check_id = #{checkId,jdbcType=VARCHAR},
      old_inst_tag = #{oldInstTag,jdbcType=VARCHAR},
      old_inst_tag_name = #{oldInstTagName,jdbcType=VARCHAR},
      deal_flag = #{dealFlag,jdbcType=CHAR},
      create_date_time = #{createDateTime,jdbcType=CHAR},
      update_date_time = #{updateDateTime,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>