<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.mybatis.mapper.FbBusInstNotifyMapper" >
  <resultMap id="BaseResultMap" type="com.zrt.mybatis.domain.FbBusInstNotify" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="tel_emp_id" property="telEmpId" jdbcType="VARCHAR" />
    <result column="tel_emp_name" property="telEmpName" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="inst_id" property="instId" jdbcType="VARCHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="CHAR" />
    <result column="update_date_time" property="updateDateTime" jdbcType="CHAR" />
    <result column="inst_tag" property="instTag" jdbcType="VARCHAR" />
    <result column="inst_tag_name" property="instTagName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tel_emp_id, tel_emp_name, org_id, org_name, inst_id, create_date_time, update_date_time, 
    inst_tag, inst_tag_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fb_bus_inst_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from fb_bus_inst_notify
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fb_bus_inst_notify
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyExample" >
    delete from fb_bus_inst_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrt.mybatis.domain.FbBusInstNotify" >
    insert into fb_bus_inst_notify (id, tel_emp_id, tel_emp_name, 
      org_id, org_name, inst_id, 
      create_date_time, update_date_time, inst_tag, 
      inst_tag_name)
    values (#{id,jdbcType=VARCHAR}, #{telEmpId,jdbcType=VARCHAR}, #{telEmpName,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{instId,jdbcType=VARCHAR}, 
      #{createDateTime,jdbcType=CHAR}, #{updateDateTime,jdbcType=CHAR}, #{instTag,jdbcType=VARCHAR}, 
      #{instTagName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zrt.mybatis.domain.FbBusInstNotify" >
    insert into fb_bus_inst_notify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="telEmpId != null" >
        tel_emp_id,
      </if>
      <if test="telEmpName != null" >
        tel_emp_name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="instId != null" >
        inst_id,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="updateDateTime != null" >
        update_date_time,
      </if>
      <if test="instTag != null" >
        inst_tag,
      </if>
      <if test="instTagName != null" >
        inst_tag_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="telEmpId != null" >
        #{telEmpId,jdbcType=VARCHAR},
      </if>
      <if test="telEmpName != null" >
        #{telEmpName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="instId != null" >
        #{instId,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="instTag != null" >
        #{instTag,jdbcType=VARCHAR},
      </if>
      <if test="instTagName != null" >
        #{instTagName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zrt.mybatis.domain.FbBusInstNotifyExample" resultType="java.lang.Integer" >
    select count(*) from fb_bus_inst_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fb_bus_inst_notify
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.telEmpId != null" >
        tel_emp_id = #{record.telEmpId,jdbcType=VARCHAR},
      </if>
      <if test="record.telEmpName != null" >
        tel_emp_name = #{record.telEmpName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.instId != null" >
        inst_id = #{record.instId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=CHAR},
      </if>
      <if test="record.updateDateTime != null" >
        update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      </if>
      <if test="record.instTag != null" >
        inst_tag = #{record.instTag,jdbcType=VARCHAR},
      </if>
      <if test="record.instTagName != null" >
        inst_tag_name = #{record.instTagName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fb_bus_inst_notify
    set id = #{record.id,jdbcType=VARCHAR},
      tel_emp_id = #{record.telEmpId,jdbcType=VARCHAR},
      tel_emp_name = #{record.telEmpName,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      inst_id = #{record.instId,jdbcType=VARCHAR},
      create_date_time = #{record.createDateTime,jdbcType=CHAR},
      update_date_time = #{record.updateDateTime,jdbcType=CHAR},
      inst_tag = #{record.instTag,jdbcType=VARCHAR},
      inst_tag_name = #{record.instTagName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrt.mybatis.domain.FbBusInstNotify" >
    update fb_bus_inst_notify
    <set >
      <if test="telEmpId != null" >
        tel_emp_id = #{telEmpId,jdbcType=VARCHAR},
      </if>
      <if test="telEmpName != null" >
        tel_emp_name = #{telEmpName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="instId != null" >
        inst_id = #{instId,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=CHAR},
      </if>
      <if test="updateDateTime != null" >
        update_date_time = #{updateDateTime,jdbcType=CHAR},
      </if>
      <if test="instTag != null" >
        inst_tag = #{instTag,jdbcType=VARCHAR},
      </if>
      <if test="instTagName != null" >
        inst_tag_name = #{instTagName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrt.mybatis.domain.FbBusInstNotify" >
    update fb_bus_inst_notify
    set tel_emp_id = #{telEmpId,jdbcType=VARCHAR},
      tel_emp_name = #{telEmpName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      inst_id = #{instId,jdbcType=VARCHAR},
      create_date_time = #{createDateTime,jdbcType=CHAR},
      update_date_time = #{updateDateTime,jdbcType=CHAR},
      inst_tag = #{instTag,jdbcType=VARCHAR},
      inst_tag_name = #{instTagName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>