<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.sec.mapper.login.LoginMapper">

	<select id="empInfo" resultType="java.util.HashMap">
		<!-- SELECT a.org_id, a.org_name, emp.emp_code, emp.emp_id, emp.emp_name, 
			emp.emp_enabled, emp.create_date_time, emp.entry_time, emp.emp_work_address, 
			emp.emp_sex, spp.p_name, sse.emp_id as up_emp_id, sse.emp_name as up_emp_name, 
			sse.org_id as up_org_id, sse.org_name as up_org_name FROM sys_sec_org a, 
			sys_sec_emp emp, sys_plat_position spp , sys_work_relation swr, sys_sec_emp 
			sse WHERE a.org_id = emp.org_id AND emp.emp_position_id = spp.p_s_p_id and 
			swr.emp_id=emp.emp_id and sse.emp_id=swr.up_emp_id and emp.is_first_org='1' 
			and swr.w_status='1' -->

		select
		sse.emp_id,sse.emp_name,sse.emp_code,sse.emp_head_photo,sso.org_id,sso.org_name,spp.p_name
		from sys_sec_emp sse
		left join sys_sec_emp_position ssep on
		sse.emp_id=ssep.emp_id
		left join sys_sec_org sso ON
		ssep.org_id=sso.org_id
		left join sys_plat_position spp ON
		spp.p_s_p_id =ssep.emp_position_id
		where sse.emp_id=#{emp_id} and
		ssep.is_first_org='1'
		<if test="org_name!=null and org_name!=''">
			and sso.org_name like #{org_name}
		</if>
		<if test="org_id!=null and org_id!=''">
			and sso.org_id = #{org_id}
		</if>
		<if test="emp_name!=null and emp_name!=''">
			and sse.emp_name like #{emp_name}
		</if>
		<if test="emp_code!=null and emp_code!=''">
			and sse.emp_code = #{emp_code}
		</if>
		
		<if test="emp_email!=null and emp_email!=''">
			and sse.emp_email = #{emp_email}
		</if>
		<if test="emp_phone!=null and emp_phone!=''">
			and sse.emp_phone = #{emp_phone} or
			sse.emp_mobile_phone=#{emp_phone}
		</if>
		<if test="emp_work_address!=null and emp_work_address!=''">
			and sse.emp_work_address like #{emp_work_address}
		</if>
		<if test="emp_sex!=null and emp_sex!=''">
			and sse.emp_sex = #{emp_sex}
		</if>
		<if test="begin_entry_time!=null and begin_entry_time!=''">
			and sse.entry_time between #{begin_entry_time} and
			#{end_entry_time}
		</if>
		<if test="begin_create_date_time!=null and begin_create_date_time!=''">
			and sse.create_date_time between #{begin_create_date_time}
			and
			#{end_create_date_time}
		</if>
	</select>
	<select id="roleResourceList" resultType="java.util.HashMap">
		SELECT DISTINCT
		sr.resource_id,
		sr.resource_name
		FROM
		sys_sec_role ssr,
		sys_sec_user_role ssur,
		sys_sec_role_resource ssrr,
		sys_sec_resource sr
		WHERE ssur.role_id = ssr.role_id
		AND ssr.role_id = ssrr.role_id
		AND
		ssrr.resource_id = sr.resource_id
		AND ssr.sec_enabled = '1'
		AND
		sr.sec_enabled = '1'
		AND ssur.emp_id IN
		<foreach collection="mapParam.empArr" item="emp_id" open="("
			separator="," close=")">
			#{emp_id}
		</foreach>
	</select>
	<!---用户拥有的角色菜单 -->
	<select id="roleMenuList" resultType="java.util.HashMap">
		<!-- SELECT DISTINCT ssm.menu_code, ssm.menu_name , ssm.parent_code FROM 
			sys_sec_role_menu ssrm, sys_sec_user_role ssur, sys_sec_menu ssm WHERE ssur.role_id 
			= ssrm.role_id AND ssrm.menu_code = ssm.menu_code and ssur.emp_id in -->

		SELECT DISTINCT ssm.menu_code,ssm.menu_name,ssm.parent_code,ssm.menu_url
		FROM sys_sec_menu ssm
		LEFT JOIN sys_sec_resource ssr ON
		ssr.resource_group=ssm.menu_code

		LEFT JOIN sys_sec_role_resource ssrr ON
		ssrr.resource_id=ssr.resource_id
		LEFT JOIN sys_sec_user_role ssur ON
		ssur.role_id=ssrr.role_id
		WHERE ssur.emp_id IN
		<foreach collection="empArr" item="emp_id" open="("
			separator="," close=")">
			#{emp_id}
		</foreach>

		UNION ALL (SELECT ssm.menu_code,ssm.menu_name,ssm.parent_code,ssm.menu_url
		FROM sys_sec_menu ssm
		LEFT JOIN sys_sec_resource ssr ON
		ssr.menu_code=ssm.menu_code
		LEFT JOIN sys_sec_role_resource ssrr ON
		ssrr.resource_id=ssr.resource_id
		LEFT JOIN sys_sec_user_role ssur ON
		ssur.role_id=ssrr.role_id
		WHERE ssur.emp_id IN
		<foreach collection="empArr" item="emp_id" open="("
			separator="," close=")">
			#{emp_id}
		</foreach>
		GROUP BY ssm.menu_code
		ORDER BY ssm.sec_order
		)
	</select>
	
	
	<select id="newRoleMenuList" resultType="java.util.HashMap">

		SELECT
			DISTINCT(ssm.menu_code),
			ssm.menu_name,
			ssm.menu_level,
			ssm.parent_code
		FROM
			sys_sec_menu ssm
		JOIN sys_sec_role_menu ssrm ON ssm.menu_code = ssrm.menu_code
		JOIN sys_sec_user_role ssur ON ssrm.role_id = ssur.role_id
		JOIN sys_sec_emp sse ON sse.emp_id = ssur.emp_id
		WHERE
			sse.emp_id = #{emp_id}
	</select>
	<select id="roleRsList" resultType="java.util.HashMap">
		SELECT
			DISTINCT(ssr.resource_id),ssr.resource_name,ssr.menu_code
		FROM
			sys_sec_resource ssr
		JOIN sys_sec_role_resource ssrr ON ssr.resource_id = ssrr.resource_id
		JOIN sys_sec_user_role ssur ON ssur.role_id=ssrr.role_id
		WHERE
			ssur.emp_id=#{emp_id}
	</select>
</mapper>