<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrt.serial.mapper.serial.SerialMapper" >
  <!--用户新增-->
  <insert id="serialSave">
  	insert into sys_biz_serial (biz_key, biz_name, biz_serial_no, biz_prefix, biz_date, is_append, serial_num, biz_remark)
		values (#{biz_key}, #{biz_name}, #{biz_serial_no}, #{biz_prefix}, #{biz_date}, #{is_append}, #{serial_num}, #{biz_remark})
  </insert>
  <select id="serialSearch" resultType="java.util.HashMap">
  	select * from sys_biz_serial where biz_key = #{biz_key}
  	
  </select>

	<update id="serialUpdate">
		update sys_biz_serial
		  set  biz_serial_no = #{biz_serial_no}
		where biz_key = #{biz_key} 
	</update>
	
	<update id="serialNextUpdate">
		update sys_biz_serial
		  set  biz_serial_no = biz_serial_no+1
		where biz_key = #{biz_key} 
	</update>
</mapper>